n8n-space/workflow.json
{
  "name": "YouTube Auto Clipper Pipeline",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "Daily 15:00 Casablanca",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Channel IDs to monitor\nconst channelIds = [\n  'UCm-X6o81nRsXQTmqpyArkBQ',\n  'UCrkfdiZ4pF3f5waQaJtjXew',\n  'UCUk7VggtJdo9XYTy3Z5QVAw',\n  'UCxsk7hqE_CwZWGEJEkGanbA',\n  'UC1B04i78aFfbq3JUTiXiGkQ',\n  'UCyQVt6PHgeW2kmh7mYJfGdQ',\n  'UC8qNcrcCOpYIsWWwkX9mDGQ',\n  'UCfw6CRDOg5xQsB-2QNC_KUA',\n  'UCZXVJgry4FxvZO2718qQh5Q'\n];\n\nreturn channelIds.map(id => ({\n  json: {\n    channel_id: id,\n    rss_url: `https://www.youtube.com/feeds/videos.xml?channel_id=${id}`\n  }\n}));"
      },
      "id": "node-channels",
      "name": "Channel List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.rss_url }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "node-fetch-rss",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse RSS XML from all channels and pick ONE random video for today\n\nconst allVideos = [];\n\nfor (const item of $input.all()) {\n  const xml = item.json.data || item.json.body || '';\n  if (!xml || typeof xml !== 'string') continue;\n\n  // Extract first video entry from RSS XML\n  const entryMatch = xml.match(/<entry>[\\s\\S]*?<\\/entry>/);\n  if (!entryMatch) continue;\n\n  const entry = entryMatch[0];\n  const videoId = entry.match(/<yt:videoId>([^<]+)<\\/yt:videoId>/);\n  const title = entry.match(/<title>([^<]+)<\\/title>/);\n  const link = entry.match(/<link rel=\\\"alternate\\\" href=\\\"([^\\\"]+)\\\"/);\n\n  if (videoId && title) {\n    allVideos.push({\n      video_id: videoId[1],\n      title: title[1],\n      url: link ? link[1] : `https://www.youtube.com/watch?v=${videoId[1]}`\n    });\n  }\n}\n\nconsole.log(`Found ${allVideos.length} videos from RSS feeds`);\n\n// Pick ONE random video (limit: 1 video per day)\nif (allVideos.length > 0) {\n  const selected = allVideos[Math.floor(Math.random() * allVideos.length)];\n  console.log(`Selected: ${selected.title}`);\n  return [{ json: selected }];\n}\n\n// Return empty URL so the condition check works\nconsole.log('No videos found in any RSS feed');\nreturn [{ json: { url: '', title: '', video_id: '' } }];"
      },
      "id": "node-parse-rss",
      "name": "Pick One Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ $json.url }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-videos",
      "name": "Has Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLIPPER_API_URL }}/health",
        "options": {
          "timeout": 30000,
          "retry": {
            "maxRetries": 5,
            "retryInterval": 15000
          }
        }
      },
      "id": "node-wake",
      "name": "Wake Python Space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "node-wait-boot",
      "name": "Wait for Boot",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLIPPER_API_URL }}/process-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"url\": \"{{ $('Pick One Video').item.json.url }}\" , \"title\": \"{{ $('Pick One Video').item.json.title }}\" }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-start-job",
      "name": "Start Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "node-wait-poll",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLIPPER_API_URL }}/job/{{ $('Start Processing').item.json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-poll-job",
      "name": "Poll Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "jsCode": "// Display progress percentage\nconst data = $input.first().json;\nconst progress = data.progress || 0;\nconst step = data.current_step || 'Working...';\nconst status = data.status || 'unknown';\n\nconsole.log(`========================================`);\nconsole.log(`PROGRESS: ${progress}%`);\nconsole.log(`STATUS: ${status}`);\nconsole.log(`STEP: ${step}`);\nconsole.log(`========================================`);\n\n// Pass through the data\nreturn [{ json: data }];"
      },
      "id": "node-show-progress",
      "name": "Show Progress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "is-done",
              "leftValue": "={{ $('Poll Job Status').item.json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-done",
      "name": "Job Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract clips array into separate items\nconst clips = $input.first().json.clips;\nreturn clips.map(c => ({ json: c }));"
      },
      "id": "node-split-clips",
      "name": "Split Clips",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLIPPER_API_URL }}{{ $('Poll Job Status').item.json.clips[0].download_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_SECRET }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 300000
        }
      },
      "id": "node-download",
      "name": "Download Clip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 200]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Poll Job Status').item.json.clips[0].title }}",
        "categoryId": "20",
        "options": {
          "description": "={{ $('Poll Job Status').item.json.clips[0].description }}",
          "privacyStatus": "public",
          "tags": "={{ $('Poll Job Status').item.json.clips[0].tags.join(',') }}"
        }
      },
      "id": "node-youtube-upload",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [3100, 200],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLIPPER_API_URL }}/cleanup",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-cleanup",
      "name": "Cleanup Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, 200]
    },
    {
      "parameters": {},
      "id": "node-no-videos",
      "name": "No New Videos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1300, 500]
    }
  ],
  "connections": {
    "Daily 15:00 Casablanca": {
      "main": [
        [
          {
            "node": "Channel List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel List": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Pick One Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick One Video": {
      "main": [
        [
          {
            "node": "Has Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Video?": {
      "main": [
        [
          {
            "node": "Wake Python Space",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wake Python Space": {
      "main": [
        [
          {
            "node": "Wait for Boot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Boot": {
      "main": [
        [
          {
            "node": "Start Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Processing": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Poll Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Job Status": {
      "main": [
        [
          {
            "node": "Show Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Progress": {
      "main": [
        [
          {
            "node": "Job Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Done?": {
      "main": [
        [
          {
            "node": "Download Clip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Clip": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Cleanup Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Africa/Casablanca",
    "executionOrder": "v1"
  }
}